html {
  font-size: 15px;
}
body {
  
  margin: 0;
  font-family: 'Futura';
  font-size: 15px;
  color: #000000;
  max-width: 1920px;
}
/* body.no-scroll {
  overflow: hidden;
} */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
p {
  margin: 0 0 15px;
}
*,
*:before,
*:after {
  padding: 0;
  margin:0;
  border: 0;
  box-sizing: border-box;
}







@font-face {
  font-family: 'Futura';
  src:url('../fonts/Futura Book font.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLight';
  src:url('../fonts/Futura futura light bt.ttf');
  font-weight: normal;
  font-style: normal;
}

/*HEADER*/

.header__burger {
  display: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

}
.header__body {
  position: relative;
  

}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.nav {
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 0 130px;
  width: 100%;
  display: flex;
  justify-content:space-around;
  z-index: 2;
  position: relative;

}

.nav__link {
  font-size: 16px;
  text-decoration: none;
  color:#ACACAC;
  font-weight: 300;
  
  padding-right:20px;
  padding-left: 20px;

  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link:hover {
    color: black;
}


.header__logo {

  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.header__logo img {
  max-width: 100%;
  display: block;
  overflow: hidden;
  width: 220px;
  height: 40px;
  z-index: 3;
}
/*INTRO */

.intro__text {
  margin-top: 130px;
  font-size: 40px;
}
.intro__description {
  padding:20px 20px 20px 0px;;
  
  
}
.left {
  display: flex;
  flex-wrap: wrap;
  padding-left: 440px;
  
}
.intro__photo {
  margin-top: 100px;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.intro__photo-img {
  padding: 20px;
  width: 33.3333%;
}
.intro__photo-img img {
  max-width: 100%;
}
.btn {
  font-size: 13px;
  text-transform: uppercase;
  
  color: #ACACAC;
  background-color: transparent;
  border: none;
  text-decoration: none;
  outline: none;
  transition: color .3s linear;
}
.btn:hover {
  color: #000000;

}

/*FOOTER*/
.footer {

  margin-top: 170px;
}
.footer__logo img {
  width: 110px;
  height: 20px;
}
.footer__logo {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.footer__icon {
 
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.footer__icon a {
  color: #ACACAC;
  font-size: 20px;
  transition: color 0.2s linear, color 0.2s linear;
}
.footer__icon a:hover {
  color: black;
}
.footer__credits {
    margin-top: 25px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.footer_adress a {
  align-items: center;
  color: #ACACAC;
  text-decoration: none;
  transition: color 0.2s linear, color 0.2s linear;
}
.footer_adress a:hover {
  color: black;
}
.footer__copyright {
  font-size: 10px;
  margin-bottom: 40px;
}

/*SERVIZI*/
.taglio {
  
  
}
.servizi {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.servizi__item {
  padding: 20px;
  width: 30.3333%;
  text-align: center;
  transition: box-shadow 0.2s linear;
  margin-bottom: 45px;
}

.servizi__item:hover {
  box-shadow: 0 0 16px rgb(0,0,0);
}
.per__clienti {
  margin-top: 35px;
  padding: 20px;
  width: 24%;
  text-align: center;
  transition: box-shadow 0.2s linear;
}
.per__clienti:hover {
  box-shadow: 0 0 16px rgb(0,0,0);
}

.servizi__photo {
  max-width: 70%;
}
.servizi__title,
.servizi__text {
  margin-top: 20px;
}

@media(max-width: 767px) {

  body.lock {
    overflow: hidden;
  }

    .header__logo img {
      width: 200px;
      height: 35px;
    }
    .header__logo {
      margin-top: 20px;
    }
   .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    float: right;
    margin-bottom: 15px;
    z-index: 3;
   }
   .header__burger:before,
   .header__burger:after {
      content: '';
      background-color: #000000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all .3s ease 0s;

   }
   .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all .6s ease 0s;


   }
   .header__burger:before {
    top: 0;

   }
   .header__burger:after  {
    bottom: 0;
   }
   .header__burger.active:before {
     transform: rotate(45deg);
     top: 9px;
   }
    .header__burger.active:after {
     transform: rotate(-45deg);
     bottom: 9px;
   }
   .header__burger.active span  {
    transform: scale(0);
   }

   .nav {
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease 0s;
    background-color:#000000eb;
    z-index: 1;
    padding: 90px 10px 20px 10px;

   }
   .nav.active {
    top: 0;
   }
   .nav__link {
    text-align: center;
    display: block;
    margin: 30px 0 30px 0;
    font-size: 20px;
   }
   .nav__link:hover {
    color: #fff;
   }
   .left {
    padding-left: 240px;
    
   }
   .intro__text {
    margin-top: 100px;
   }
   .footer {
    margin-top: 0;
   }
}

@media(max-width: 420px) {

.left {
  padding-left: 0;
}
.intro__photo {
  margin-top: 25px;
}
.intro__photo-img {
    padding: 10px;
    
}
.intro__description {
    padding: 20px 0px 10px 0px;
}

 }